.face-container {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  font-family: 'Titillium Web', sans-serif;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
  width: 100%;
  max-height: 100%;

  video {
    //display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.selfie {
      transform: scale(-1, 1);
    }
  }

  canvas {
    width: 1280px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .loading {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    backface-visibility: hidden;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;

    .message {
      font-size: x-large;
    }

    .spinner {
      position: absolute;
      width: 120px;
      height: 120px;
      animation: spin 1s linear infinite;
      border: 32px solid #bebebe;
      border-top: 32px solid #3498db;
      border-radius: 50%;
    }
  }


}

.desc {
  position: fixed;
  display: block;
}
